
.container-fluid{
  padding-right: 0 !important;
  padding-left: 0 !important;
}

@keyframes bgcolor{
    0%{
        background: #F5C006;
    }
    20%{
        background:#DF1638 ;
    }
    40%{
        background:#07B307 ;
    }
    60%{
        background:#1D05AC;
    }
    80%{
        background:#0FC7A7;
    }
    100%{
        background:#F5C006;
    }
}
@keyframes hue {
  from {
    filter: hue-rotate(0deg);
  }
  
  to {
    filter: hue-rotate(-360deg);
  }
}
h1,h2,h3,h4,h5,h6{
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  letter-spacing: 5px;

}
h1{
  font-size: 28pt;
}
p{
  font-family: "roboto";
  letter-spacing: 2px;

}

#sidebar-wrapper{
  z-index:1;
  position: absolute;
  width:100px;
  height:100vh;
  overflow-y:hidden;
  background:  #242533;
  transition:all .5s;
  display:flex;
  align-items:center;
  overflow: hidden;
}

/* Main Content */
#page-content-wrapper{
  padding-left: 100px;
  width: 100%;  
  position: absolute;
  transition:all .5s;
}

#menu-toggle{
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
    transition:all .3s;
    font-size: 15pt;
    letter-spacing: 5px;
    padding: 0 0;
    position: absolute;
    border-radius: 0;
    z-index: 9999;
    color: white;
    transform: rotate(-90deg);

}
#menu-toggle:hover{
	color: orange;
}
/* Change the width of the sidebar to display it*/
#wrapper.menuDisplayed #sidebar-wrapper{
  width:50%;
  background-color:#262845;  
}

#wrapper.menuDisplayed #page-content-wrapper{
  margin-left:50%;
  display: content
}

/* Sidebar styling */
.sidebar-nav{
  padding:0;
  list-style:none; 
    transition:all .5s;
    width:100%;
    text-align:center;
}

.sidebar-nav li{
  line-height:40px;  
    width:100%;
    transition:all .3s;
    padding:10px;
}

.sidebar-nav li a {
  display:block;
  text-decoration:none;
  color:#000;
}
.list-sidenav{
  animation: bgcolor infinite 60s;

}

.label{
	font-family: 'Work Sans', sans-serif;
	font-size: 5vw;
  
}
.label .get{
	font-weight: 300;
	color: #5FA4EA;
    background-image: linear-gradient(92deg, #5FA4EA 0%,#8AD9FE 100%);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: hue 60s infinite linear;
}
.label .idea{
	 color: #f35626;
    background-image: linear-gradient(92deg, #f35626 0%,#feab3a 100%);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: hue 60s infinite linear;
}
#wrapper .navbar {
  margin-left: 100px;
  color: white;
  font-family:'Montserrat', sans-serrif;
  font-size: 25pt;
  font-weight: 700;
  position: absolute;
  overflow: hidden;
  width: 85%;
  height: 100vh;
  background-color: #2a2d51;
}
#wrapper .navbar ul,#wrapper .navbar ul li a{
  list-style: none;
  text-decoration: none;
  color: white;
}
#wrapper .navbar ul li a:hover{
  color: orange;
}
#fullpage section{
  width: 100%;
}
.content-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  min-height: 600px;
  pointer-events: none;
}
.content {
  position: relative;
  display: grid;
}

.content--layout {
  pointer-events: auto;
  justify-content: center;
  align-content: center;
  grid-template-columns: 150px 150px 150px 150px; 
  grid-template-rows: 150px 75px 75px;
  grid-template-areas:  "... title title title"
              "author ... desc desc"
              "author ... link link";
}


.content__img {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  opacity: 0.8;
  width: 300px;
  height: 300px;
}

.content__title {
  grid-area: title;
  letter-spacing: -0.025em;
  font-size: 8em;
  line-height: 160px;
  margin: 0;
  text-transform: lowercase;
  z-index: 10;
  cursor: default;
}

.content__author {
  grid-area: author;
  margin: 0;
  -webkit-writing-mode: vertical-lr;
  writing-mode: vertical-lr;
  padding: 1em;
  text-align: right;
  z-index: 10;
  cursor: default;
}

.content__desc {
  grid-area: desc;
  margin: 0;
  z-index: 10;
  padding: 0 1em;
  cursor: default;
}

.content__img,
.content__title,
.content__author,
.content__desc {
  transition: transform 0.3s ease-out;
}


#fullpage {
    /*padding: 115px 0 100px;*/
    background-image: url(../../img/background/bg-kiri.svg), url(../../img/background/bg-kanan.svg);
    background-position: left bottom, right top;
    background-repeat: no-repeat, no-repeat;
    background-size: contain;
    position:fixed;
}

.image-home{
  width:  80%;
  float: right
}
.text-home{
  margin: auto ;
}


@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

/*slider jangar ajig*/
.slide {height: 100vh;}

.item {
    position: relative;
    margin: 1rem 0;
    overflow: hidden;
    height: 77vh;
}

.slide-item{
  position: absolute;
  top: 0;
  z-index: 0;
}

.info-slide {
  color: dimgrey;
}

.info-slide .sub-judul {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 3px;
  font-size: 12px;
  text-transform: uppercase;
  margin: 0;
  transform: translateY(25%);
  opacity: 0;  
  transition: 0.4s all ease-in-out;
}

.info-slide .judul {
  margin: 15px 0 0 0;
  font-family: 'Playfair Display', serif;
  font-size: 44px;
  line-height: 45px;
  letter-spacing: 3px;
  font-weight: 700;
  color: #2C2C2C;
  transform: translateY(25%);
  opacity: 0;
  transition: 0.6s all ease-in-out;
}

.info-slide .deskripsi-slide{
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #7e7e7e;
  line-height: 22px;
  letter-spacing: 1px
  transform: translateY(25%);
  opacity: 0;
  transition: 0.6s all ease-in-out;
}

.info-slide .info-btn{
  color: #2C2C2C;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 3px;
  font-size: 13px;
  text-transform: uppercase;
  margin: 0;
  font-weight: 700;
  text-decoration: none;
  transform: translateY(25%);
  opacity: 0;
  transition: 0.6s all ease-in-out;
}

.slide-gambar{
  opacity: 0;
  transform: translateX(100%);
  transition: 0.6s all ease-in-out;
}

.active{
  z-index: 1;
}

.active .sub-judul, .active .judul, .active .deskripsi-slide, .active .info-btn{
  transform: translateY(0);
  opacity: 1;
  transition: 0.6s all ease-in-out;
}

.active .slide-gambar{
  opacity: 1;
  transition: 0.6s all ease-in-out;
  transform: translateX(0);
}
/*tuntung slider*/

