.copyright {
    transform: rotate(-270deg);
    z-index: 99999;
    right: -63px;
    position: fixed;
    bottom: 126px;
    font-family: overpass mono;
}
.container-fluid{
  padding-right: 0 !important;
  padding-left: 0 !important;
}

@keyframes bgcolor{
    0%{
        background: #F5C006;
    }
    20%{
        background:#DF1638 ;
    }
    40%{
        background:#07B307 ;
    }
    60%{
        background:#1D05AC;
    }
    80%{
        background:#0FC7A7;
    }
    100%{
        background:#F5C006;
    }
}
@keyframes hue {
  from {
    filter: hue-rotate(0deg);
  }
  
  to {
    filter: hue-rotate(-360deg);
  }
}
h1,h2,h3,h4,h5,h6{
  font-family: "Montserrat", sans-serif;
  font-weight: 800;

}
h1{
  font-size: 28pt;
}
p{
  font-family: "roboto";
  letter-spacing: 2px;

}

#sidebar-wrapper{
  z-index:1;
  position: absolute;
  width:100px;
  height:100vh;
  overflow-y:hidden;
  background:  #242533;
  transition:all .5s;
  display:flex;
  align-items:center;
  overflow: hidden;
}

/* Main Content */
#page-content-wrapper{
  padding-left: 100px;
  width: 100%;  
  position: absolute; 
  transition:all .5s;
}

#menu-toggle{
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
    transition:all .3s;
    font-size: 15pt;
    letter-spacing: 5px;
    padding: 0 0;
    position: absolute;
    border-radius: 0;
    z-index: 9999;
    color: white;
    transform: rotate(-90deg);

}
#menu-toggle:hover{
	color: orange;
}
/* Change the width of the sidebar to display it*/
#wrapper.menuDisplayed #sidebar-wrapper{
  width:50%;
  background-color:#262845;  
}

#wrapper.menuDisplayed #page-content-wrapper{
  margin-left:42%;
}

/* Sidebar styling */
.sidebar-nav{
  padding:0;
  list-style:none; 
    transition:all .5s;
    width:100%;
    text-align:center;
}

.sidebar-nav li{
  line-height:40px;  
    width:100%;
    transition:all .3s;
    padding:10px;
}

.sidebar-nav li a {
  display:block;
  text-decoration:none;
}


.label{
	font-family: 'Work Sans', sans-serif;
	font-size: 5vw;
  
}
.label .get{
	font-weight: 300;
	color: #5FA4EA;
    background-image: linear-gradient(92deg, #5FA4EA 0%,#8AD9FE 100%);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: hue 60s infinite linear;
}
.label .idea{
	 color: #f35626;
    background-image: linear-gradient(92deg, #f35626 0%,#feab3a 100%);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: hue 60s infinite linear;
}
#wrapper .navbar {
  margin-left: 100px;
  color: white;
  font-family:'Montserrat', sans-serrif;
  font-size: 25pt;
  font-weight: 700;
  position: absolute;
  overflow: hidden;
  width: 85%;
  height: 100vh;
  background-color: #2a2d51;
}
#wrapper .navbar ul,#wrapper .navbar ul li a{
  list-style: none;
  text-decoration: none;
  color: white;
}
#wrapper .navbar ul li a:hover{
  color: orange;
}
#fullpage section{
  width: 100%;
}
.content-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  min-height: 600px;
  pointer-events: none;
}
.content {
  position: relative;
  display: grid;
}

.content--layout {
  pointer-events: auto;
  justify-content: center;
  align-content: center;
  grid-template-columns: 150px 150px 150px 150px; 
  grid-template-rows: 150px 75px 75px;
  grid-template-areas:  "... title title title"
              "author ... desc desc"
              "author ... link link";
}


.content__img {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  opacity: 0.8;
  width: 300px;
  height: 300px;
}

.content__title {
  grid-area: title;
  letter-spacing: -0.025em;
  font-size: 8em;
  line-height: 160px;
  margin: 0;
  text-transform: lowercase;
  z-index: 10;
  cursor: default;
}

.content__author {
  grid-area: author;
  margin: 0;
  -webkit-writing-mode: vertical-lr;
  writing-mode: vertical-lr;
  padding: 1em;
  text-align: right;
  z-index: 10;
  cursor: default;
}

.content__desc {
  grid-area: desc;
  margin: 0;
  z-index: 10;
  padding: 0 1em;
  cursor: default;
}

.content__img,
.content__title,
.content__author,
.content__desc {
  transition: transform 0.3s ease-out;
}


#fullpage {
    /*padding: 115px 0 100px;*/
    background-image: url(../../img/background/bg-kiri.svg), url(../../img/background/bg-kanan.svg);
    background-position: left bottom, right top;
    background-repeat: no-repeat, no-repeat;
    background-size: contain;
    position:fixed;
}

.image-home{
  width:  80%;
  float: right
}
.text-home{
  margin: auto ;
}


@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

/*slider jangar ajig*/
.slide {height: 100vh;}

.item {
    position: relative;
    margin: 1rem 0;
    overflow: hidden;
    height: 77vh;
}

.slide-item{
  position: absolute;
  top: 0;
  z-index: 0;
}

.info-slide {
  color: dimgrey;
}

.info-slide .sub-judul {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 3px;
  font-size: 12px;
  text-transform: uppercase;
  margin: 0;
  transform: translateY(25%);
  opacity: 0;  
  transition: 0.4s all ease-in-out;
}

.info-slide .judul {
  margin: 15px 0 0 0;
  font-family: 'Playfair Display', serif;
  font-size: 44px;
  line-height: 45px;
  letter-spacing: 3px;
  font-weight: 700;
  color: #2C2C2C;
  transform: translateY(25%);
  opacity: 0;
  transition: 0.6s all ease-in-out;
}

.info-slide .deskripsi-slide{
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #7e7e7e;
  line-height: 22px;
  letter-spacing: 1px
  transform: translateY(25%);
  opacity: 0;
  transition: 0.6s all ease-in-out;
}

.info-slide .info-btn{
  color: #2C2C2C;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 3px;
  font-size: 13px;
  text-transform: uppercase;
  margin: 0;
  font-weight: 700;
  text-decoration: none;
  transform: translateY(25%);
  opacity: 0;
  transition: 0.6s all ease-in-out;
}

.slide-gambar{
  opacity: 0;
  transform: translateX(100%);
  transition: 0.6s all ease-in-out;
}

.indicator-gambar{
  filter: grayscale(80%);
  transition: 0.4s all ease-in-out;
}

.active{
  z-index: 1;
}

.active .sub-judul, .active .judul, .active .deskripsi-slide, .active .info-btn{
  transform: translateY(0);
  opacity: 1;
  transition: 0.6s all ease-in-out;
}

.active .slide-gambar{
  opacity: 1;
  transition: 0.6s all ease-in-out;
  transform: translateX(0);
}

.active .indicator-gambar{
  filter: grayscale(0%);
  transition: 0.4s all ease-in-out;
}
/*tuntung slider*/
.tab-menu ul li{
  margin: 0 auto;
}
.tab-menu ul .active{
  background-color: black;
}

.nav-item{
  margin: auto;
  width: 50%;
  text-align: center;
}
.card-header{
  background-color: #2a2d51;
  color: white;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.card{
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.nav-item .active {
  background-image: linear-gradient(45deg,#4568DC,#B06AB3);
}
.nav-tabs .nav-link.active {
    color: white;
}
.nav-item a{
  color: #2a2d51;
}
.btn-link{
  color: white;
  text-decoration: none;
}
.btn-link:hover{
  /*background-color: orange;*/
  color: white;
  transition: all 300ms ease-out;
  text-decoration: none;
  box-shadow: inset 0px 0 0 0 #ff401a;
}
.tabs {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: relative;
  /*background: white;*/
  padding: 50px;
  padding-bottom: 80px;
  width: 70%;
  height: 250px;
  box-shadow: 0 14px 28px #D9D9D9, 0 10px 10px #D9D9D9;
  border-radius: 5px;
  min-width: 100%;
}
.tabs input[name="tab-control"] {
  display: none;
}
.tabs .content section h2,
.tabs ul li label {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 18px;
  color: #428BFF;
}
.tabs ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}
.tabs ul li {
  box-sizing: border-box;
  flex: 1;
  width: 25%;
  padding: 0 10px;
  text-align: center;
}
.tabs ul li label {
  transition: all 0.3s ease-in-out;
  color: #929daf;
  padding: 5px auto;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.tabs ul li label br {
  display: none;
}
/*.tabs ul li label svg {
  fill: #929daf;
  height: 1.2em;
  vertical-align: bottom;
  margin-right: 0.2em;
  transition: all 0.2s ease-in-out;
}*/
.tabs ul li label:hover, .tabs ul li label:focus, .tabs ul li label:active {
  outline: 0;
  color: #bec5cf;
}
/*.tabs ul li label:hover svg, .tabs ul li label:focus svg, .tabs ul li label:active svg {
  fill: #bec5cf;
}*/
.tabs .slider {
  position: relative;
  width: 25%;
  transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
}
.tabs .slider .indicator {
  position: relative;
  width: 50px;
  max-width: 100%;
  margin: 0 auto;
  height: 4px;
  background: #428BFF;
  border-radius: 1px;
}
.tabs .content {
  margin-top: 30px;
}
.tabs .content section {
  display: none;
  -webkit-animation-name: content;
          animation-name: content;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  line-height: 1.4;
}
.tabs .content section h2 {
  color: #428BFF;
  display: none;
}
.tabs .content section h2::after {
  content: "";
  position: relative;
  display: block;
  width: 30px;
  height: 3px;
  background: #428BFF;
  margin-top: 5px;
  left: 1px;
}
.tabs input[name="tab-control"]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label {
  cursor: default;
  color: #428BFF;
}
/*.tabs input[name="tab-control"]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label svg {
  fill: #428BFF;
}*/
@media (max-width: 600px) {
  .tabs input[name="tab-control"]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label {
    background: rgba(0, 0, 0, 0.08);
  }
}
.tabs input[name="tab-control"]:nth-of-type(1):checked ~ .slider {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}
.tabs input[name="tab-control"]:nth-of-type(1):checked ~ .content > section:nth-child(1) {
  display: block;
}
.tabs input[name="tab-control"]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label {
  cursor: default;
  color: #428BFF;
}
/*.tabs input[name="tab-control"]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label svg {
  fill: #428BFF;
}*/
@media (max-width: 600px) {
  .tabs input[name="tab-control"]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label {
    background: rgba(0, 0, 0, 0.08);
  }
}
.tabs input[name="tab-control"]:nth-of-type(2):checked ~ .slider {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
.tabs input[name="tab-control"]:nth-of-type(2):checked ~ .content > section:nth-child(2) {
  display: block;
}
.tabs input[name="tab-control"]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label {
  cursor: default;
  color: #428BFF;
}
/*.tabs input[name="tab-control"]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label svg {
  fill: #428BFF;
}*/
@media (max-width: 600px) {
  .tabs input[name="tab-control"]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label {
    background: rgba(0, 0, 0, 0.08);
  }
}
.tabs input[name="tab-control"]:nth-of-type(3):checked ~ .slider {
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
}
.tabs input[name="tab-control"]:nth-of-type(3):checked ~ .content > section:nth-child(3) {
  display: block;
}
.tabs input[name="tab-control"]:nth-of-type(4):checked ~ ul > li:nth-child(4) > label {
  cursor: default;
  color: #428BFF;
}
/*.tabs input[name="tab-control"]:nth-of-type(4):checked ~ ul > li:nth-child(4) > label svg {
  fill: #428BFF;
}*/
@media (max-width: 600px) {
  .tabs input[name="tab-control"]:nth-of-type(4):checked ~ ul > li:nth-child(4) > label {
    background: rgba(0, 0, 0, 0.08);
  }
}
.tabs input[name="tab-control"]:nth-of-type(4):checked ~ .slider {
  -webkit-transform: translateX(300%);
          transform: translateX(300%);
}
.tabs input[name="tab-control"]:nth-of-type(4):checked ~ .content > section:nth-child(4) {
  display: block;
}
@-webkit-keyframes content {
  from {
    opacity: 0;
    -webkit-transform: translateY(5%);
            transform: translateY(5%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
@keyframes content {
  from {
    opacity: 0;
    -webkit-transform: translateY(5%);
            transform: translateY(5%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
@media (max-width: 1000px) {
  .tabs ul li label {
    white-space: initial;
  }
  .tabs ul li label br {
    display: initial;
  }
  /*.tabs ul li label svg {
    height: 1.5em;
  }*/
}
@media (max-width: 600px) {
  .tabs ul li label {
    padding: 5px;
    border-radius: 5px;
  }
  .tabs ul li label span {
    display: none;
  }
  .tabs .slider {
    display: none;
  }
  .tabs .content {
    margin-top: 20px;
  }
  .tabs .content section h2 {
    display: block;
  }
}