/*slider jangar ajig*/
.slider{
  margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
  -webkit-justify-content: center;
    align-items: center;
  -webkit-align-items: center;
}
.carousel {
    width: 100%;
    height: 100%;
    display: flex;
    max-width: 900px;
    max-height: 550px;   
    overflow: hidden;
  position: relative;
}

.carousel-item {
  visibility:visible;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
      -webkit-align-items: center;
    -webkit-justify-content: flex-end;
    position: relative;
    background-color: #fff;
    flex-shrink: 0;
   -webkit-flex-shrink: 0;
    position: absolute;
    z-index: 0;
  transition: 0.6s all linear;
}

.carousel-item__info {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  
    display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-flex-direction: column;
  
  order: 1;
  left: 0;
  margin: auto;
  padding: 0 40px;
  width: 40%;

}

.carousel-item__image {
    width: 60%;
    height: 100%;
    order: 2;
    align-self: flex-end;
    flex-basis: 60%;
  
      -webkit-order: 2;
    -webkit-align-self: flex-end;
    -webkit-flex-basis: 60%;
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   position:relative;
  transform: translateX(100%);
  transition: 0.6s all ease-in-out;
}

.carousel-item__subtitle {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 3px;
    font-size: 10px;
    text-transform: uppercase;
    margin: 0;
    color: #7E7E7E;    
    font-weight: 700;
    transform: translateY(25%);
    opacity: 0;
    visibility: hidden;
    transition: 0.4s all ease-in-out;
}

.carousel-item__title {
    margin: 15px 0 0 0;
    font-family: 'Playfair Display', serif;
    font-size: 44px;
    line-height: 45px;
    letter-spacing: 3px;
    font-weight: 700;
    color: #2C2C2C;
    transform: translateY(25%);
    opacity: 0;
    visibility: hidden;
    transition: 0.6s all ease-in-out;
}

.carousel-item__description {
    transform: translateY(25%);
    opacity: 0;
    visibility: hidden;
    transition: 0.6s all ease-in-out;
    margin-top: 35px;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #7e7e7e;
    line-height: 22px;
    margin-bottom: 35px;
}

.carousel-item--1 .carousel-item__image{
  background-image: url('https://images.pexels.com/photos/991012/pexels-photo-991012.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
}


.carousel-item--2 .carousel-item__image{
  background-image: url('https://images.pexels.com/photos/921294/pexels-photo-921294.png?auto=compress&cs=tinysrgb&h=750&w=1260');
}

.carousel-item--3 .carousel-item__image{
  background-image: url('https://images.pexels.com/photos/92733/pexels-photo-92733.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
}

.carousel-item--4 .carousel-item__image{
  background-image: url('https://images.pexels.com/photos/1008732/pexels-photo-1008732.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
}

.carousel-item--5 .carousel-item__image{
  background-image: url('https://images.pexels.com/photos/1029614/pexels-photo-1029614.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
}




.carousel-item__container{

}

.carousel-item__btn {
    width: 35%;
    color: #2C2C2C;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 3px;
    font-size: 11px;
    text-transform: uppercase;
    margin: 0;
    width: 35%;
    font-weight: 700;
  text-decoration: none;
      transform: translateY(25%);
    opacity: 0;
    visibility: hidden;
    transition: 0.6s all ease-in-out;
}

.carousel__nav {
    position: absolute;
    right: 0;
    z-index: 2;
    background-color: #fff;
  bottom: 0;
}

.carousel__icon {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
  fill: #5d5d5d;
}

.carousel__arrow {
    cursor: pointer;
    display: inline-block;
    padding: 11px 15px;
    position: relative;
}

.carousel__arrow:nth-child(1):after {
    content:'';
    right: -3px;
    position: absolute;
    width: 1px;
    background-color: #b0b0b0;
    height: 14px;
    top: 50%;
    margin-top: -7px;
}

.active{
   z-index: 1;
  display: flex;
  visibility:visible;
}

.active .carousel-item__subtitle, .active .carousel-item__title, .active .carousel-item__description,.active .carousel-item__btn{
    transform: translateY(0);
    opacity: 1;
  transition: 0.6s all ease-in-out;
    visibility: visible;
}



.active .carousel-item__image{ 
transition: 0.6s all ease-in-out;
transform: translateX(0);
}

/*tuntung slider*/
@keyframes bgcolor{
    0%{
        background: #F5C006;
    }
    20%{
        background:#DF1638 ;
    }
    40%{
        background:#07B307 ;
    }
    60%{
        background:#1D05AC;
    }
    80%{
        background:#0FC7A7;
    }
    100%{
        background:#F5C006;
    }
}
h1,h2,h3,h4,h5,h6{
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}
h1{
  font-size: 28pt;
}
p{
  font-family: "roboto"
}

#sidebar-wrapper{
  z-index:1;
  position: absolute;
  width:100px;
  height:100vh;
  overflow-y:hidden;
  background:  #242533;
  transition:all .5s;
  display:flex;
  align-items:center;
  overflow: hidden;
}

/* Main Content */
#page-content-wrapper{
  padding-left: 100px;
  width: 100%;  
  position: absolute;
  transition:all .5s;
}

#menu-toggle{
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
    transition:all .3s;
    font-size: 15pt;
    letter-spacing: 5px;
    padding: 0 0;
    position: absolute;
    border-radius: 0;
    z-index: 9999;
    color: white;
    transform: rotate(-90deg);

}
#menu-toggle:hover{
	color: orange;
}
/* Change the width of the sidebar to display it*/
#wrapper.menuDisplayed #sidebar-wrapper{
  width:50%;
  background-color:#262845;  
}

#wrapper.menuDisplayed #page-content-wrapper{
  padding-left:50%;
}

/* Sidebar styling */
.sidebar-nav{
  padding:0;
  list-style:none; 
    transition:all .5s;
    width:100%;
    text-align:center;
}

.sidebar-nav li{
  line-height:40px;  
    width:100%;
    transition:all .3s;
    padding:10px;
}

.sidebar-nav li a {
  display:block;
  text-decoration:none;
  color:#000;
}
.list-sidenav{
  animation: bgcolor infinite 60s;

}
@keyframes hue {
  from {
    filter: hue-rotate(0deg);
  }
  
  to {
    filter: hue-rotate(-360deg);
  }
}
.label{
	font-family: 'Work Sans', sans-serif;
	font-size: 5vw;
  z-index: -2;	
  position: absolute;
  top: 0;
  right: 0
}
.label .get{
	font-weight: 300;
	color: #5FA4EA;
    background-image: linear-gradient(92deg, #5FA4EA 0%,#8AD9FE 100%);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: hue 60s infinite linear;
}
.label .idea{
	 color: #f35626;
    background-image: linear-gradient(92deg, #f35626 0%,#feab3a 100%);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: hue 60s infinite linear;
}
#wrapper .navbar {
  margin-left: 100px;
  color: white;
  font-family:'Montserrat', sans-serrif;
  font-size: 25pt;
  font-weight: 700;
  position: absolute;
  overflow: hidden;
  width: 85%;
  height: 100vh;
  background-color: #2a2d51;
}
#wrapper .navbar ul,#wrapper .navbar ul li a{
  list-style: none;
  text-decoration: none;
  color: white;
}
#wrapper .navbar ul li a:hover{
  color: orange;
}
#fullpage section{
  width: 80%;
}
